*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
    color: black;
    background-color: rgb(245, 105, 6);
    padding: 0.5px;
    text-align: center;
}
.header p {
    font-weight: bolder;
    font-size: large;
}

.profile {
    text-align: center;
    font-weight: bolder;
    font-size: large;
    margin: 1%;
}

button {
    font-weight: bolder;
    margin-left: 40%;
}

form {
    margin-left: 30%;
    margin-right: 30%;
    font-weight: bolder;
}


