<div>
  <div></div>
  <div>
    <form
      (ngSubmit)="searchProfiles()"
      class="form-inline py-3"
      #goalForm="ngForm"
    >
      <input
        type="text"
        class="form-control border border-danger"
        placeholder="Search a github profile"
        id="search"
        [(ngModel)]="search"
        name="search"
      />

      <br />
      <button type="submit" class="btn btn-danger">Search</button>
    </form>
  </div>
  <div class="card">
    <div class="profile">
      <div class="row">
        <div appSearchProfile class="col">
          <b> {{ user.login }}</b> <br />
          <b>{{ user.public_repos }} public repositories </b> <br />
          <b>{{ user.followers }} Followers </b> <br />
          <b> {{ user.following }} Following</b> <br />
        </div>

        <div class="col">
          <img src="{{ user.avatar_url }}" />
        </div>
      </div>
    </div>
  </div>
  <p appSearchProfile class="repos" >Repositories</p>
  <div *ngFor="let repo of repos" class="card" >
    <div class="card-body">
      <h5 class="card-title">
        <p>{{ repo.name }}</p>
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">
        <a href="{{repo.url}}" class="card-link">View repo</a>
      </h6>
      <p class="card-text">
        {{repo.description}}
      </p>
    </div>
  </div>
</div>
