
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.profile {
    text-align: center;
    font-weight: bolder;
    font-size: large;
    margin: 1%;
}

button {
    font-weight: bolder;
    margin-left: 40%;
    margin-top: 1%;
}

form {
    margin-left: 30%;
    margin-right: 30%;
    font-weight: bolder;
}


