<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="header">
      <h2>Github Search</h2>
      <p>Search and explore Github profiles and repositories</p>
        <button
        type="button"
        onclick="location.href = 'http://localhost:4200/repos';"
        class="btn btn-danger"
      >
          View repositories
        </button>
        <button
        type="button"
        onclick="location.href = 'http://localhost:4200';"
        class="btn btn-danger"
      >
          Home
        </button>
    </div>
    <router-outlet></router-outlet>
    <div class="header">
      <p>Thank you</p>
      <p>Contact: Machayoephraim@gmail.com</p>
      <p>copyright 2022</p>
    </div>
  </body>
</html>

