<div>
    <form (ngSubmit)='searchRepos()' class="form-inline py-3"  #goalForm="ngForm">
      <input
        type="text"
        class="form-control border border-danger"
        placeholder="Search a github profile"
        id="search"
        [(ngModel)]="search"
        name="search"
      />

      <br />
      <button type="submit" class="btn btn-danger">
        Search
      </button>
    </form>
  </div>
<div *ngFor="let repo of repos">
    <p>{{repo.name}}</p>
    <p>{{repo.url}}</p>
</div>
